<div class="row">
  <div class="large-8 columns">
    <h1>Boston Bars</h1>
    <ul>
      <% @bars.each do |bar| %>
        <li>  <%= bar.name %>  </li>
      <% end %>
    </ul>
  </div>

  <div class="large-4 columns">
    <%= link_to "Add New Bar", new_bar_path %>
  </div>
</div>
